{% extends 'admin_base.html.twig' %}

{% block title %}Product Admin{% endblock %}

{% block body %}
<a class="btn btn-success" href="{{path("app_admin_product_add")}}">Ajouter un produit</a>
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th class="text-center" colspan="7">Products</th>
        </tr>
        <tr class="table-primary">
            <th>Name</th>
            <th>Description</th>
            <th>Slug</th>
            <th>Creation Date</th>
            <th>Price</th>
            <th class="text-center" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {%for product in products%}
            <tr class="table-active">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.slug}}</td>
                <td>{{product.createdAt | date('d/m/Y')}}</td>
                <td>{{product.price}} €</td>
                <td><a href="{{path('app_admin_product_edit', {id:product.id})}}" class="btn btn-info">Modifier</a></td>
                <td>
                    <form action="{{ path('app_admin_product_delete', { id: product.id }) }}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                        <button class="btn btn-danger" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
